@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}

.card-hdr {
    background-color: #f8f9fa;
    transition: all .2s ease-in-out;
}

.card-hdr:hover {
    transform: scale(1.05);
}