@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.card-hdr {
    background-color: #f8f9fa;
    transition: all .2s ease-in-out;
}

.card-hdr:hover {
    transform: scale(1.05);
}

#home_logo img {
    transform: rotate(-35deg);
}

.mantine-LoadingOverlay-root{
    position: fixed;
}

.mantine-Switch-track {
    padding: 0.5rem;
}